soap-webservice/src/main/resources/parametrage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/soap"
            xmlns="http://example.com/soap"
            elementFormDefault="qualified">

  <xsd:element name="GetAllSectorsRequest" type="xsd:anyType"/>
  <xsd:element name="GetAllSectorsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sectors" type="SectorList"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="Sector">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SectorList">
    <xsd:sequence>
      <xsd:element name="sector" type="Sector" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="GetClassesBySectorIdRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="sectorId" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetClassesBySectorIdResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="classes" type="ClassList"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="Classe">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="className" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="sectorId" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ClassList">
    <xsd:sequence>
      <xsd:element name="classe" type="Classe" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
